#enter ur credentials bruv

POSTGRES_USER=enter_your_url #mostly ur base userurl
POSTGRES_PASSWORD=enter_your_url
POSTGRES_DB=enter_your_url

DATABASE_URL=enter_your_url #ur db url for fastapi 

REDIS_HOST=enter_your_url #
REDIS_PORT=enter_your_url # default is mostly 6379